{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %} | Home {% endblock %}

{% block content %}
<!-- Banner Section -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-6.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Drive Your Own Dreams</h3>
                    <h5>Allow us to guide you through the innovative stress<br>free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-7.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Fuel for Soul</h3>
                    <h5>Allow us to guide you through the innovative stress<br>free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/carslider2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Car for Everyone</h3>
                    <h5>Allow us to guide you through the innovative stress<br>free approach in finding your dream car.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read More</a>
                </div>
            </div>
        </div>

        <!-- Search Box -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="get">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by Car Name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="model">
                        <option selected disabled>Model</option>
                        {% for model in model_search %}
                            <option value="{{model}}">{{model}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected disabled>Location</option>
                        {% for city in city_search %}
                            <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="year">
                        <option selected disabled>Year</option>
                        {% for year in year_search %}
                            <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="body_style">
                        <option selected disabled>Select Type Of Car</option>
                        {% for body_style in body_style_search %}
                            <option value="{{body_style}}">{{body_style}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                    <label>Price</label>
                    <div data-min="0" data-max="150000" data-min-name="min_price" data-max-name="max_price" data-unit="USD" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-filter"></i> Filter
                    </button>
                </div>
            </form>
        </div>

        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true"><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true"><i class="fa fa-angle-right"></i></span>
        </a>
    </div>
</div>

<!-- Featured Cars Section -->
<div class="featured-car content-area-5">
    <div class="container">
        <div class="main-title">
            <h1>Featured <span>Cars</span></h1>
            <p>Amongst many of our available cars, here are some few picks that you might have an interest in.</p>
        </div>
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>

                {% for car in featured_cars %}
                <div class="slick-slide-item">
                    <div class="car-box-3">
                        <div class="car-thumbnail">
                            <a href="{% url 'car_detail' car.id %}" class="car-img">
                                <div class="tag-2">Featured</div>
                                <div class="price-box"><span>${{car.price|intcomma}}</span></div>
                                <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title"><a href="{% url 'car_detail' car.id %}">{{ car.car_title }}</a></h1>
                            <div class="location">
                                <a href="{% url 'car_detail' car.id %}"><i class="flaticon-pin"></i>{{car.state}}, {{car.city}}</a>
                            </div>
                            <ul class="facilities-list clearfix">
                                <li>{{car.fuel_type}}</li>
                                <li>{{car.miles|intcomma}} km</li>
                                <li>{{car.transmission}}</li>
                                <li>{{car.body_style}}</li>
                                <li>{{car.color}}</li>
                                <li>{{car.year}}</li>
                            </ul>
                            {% if car.youtube_id %}
                            <div class="video-container mt-2">
                                <iframe width="100%" height="300"
                                        src="https://www.youtube.com/embed/{{ car.youtube_id }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<!-- Latest Cars Section -->
<div class="featured-car content-area">
    <div class="container">
        <div class="main-title">
            <h1>Latest <span>Cars</span></h1>
        </div>
        <div class="row">
            {% for car in all_cars|slice:":6" %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="{% url 'car_detail' car.id %}" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{car.car_photo.url}}" alt="car" style="min-height: 262px; max-height: 262px;">
                        </a>
                    </div>
                    <div class="detail">
                        <h1 class="title"><a href="{% url 'car_detail' car.id %}">{{car.car_title}}</a></h1>
                        <div class="location">
                            <a href="{% url 'car_detail' car.id %}"><i class="flaticon-pin"></i>{{car.state}}, {{car.city}}</a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>{{car.fuel_type}}</li>
                            <li>{{car.body_style}}</li>
                        </ul>
                        {% if car.youtube_id %}
                        <div class="video-container mt-2">
                            <iframe width="100%" height="300"
                                    src="https://www.youtube.com/embed/{{ car.youtube_id }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                            </iframe>
                        </div>
                        {% endif %}
                    </div>
                    <div class="footer clearfix">
                        <div class="pull-left"><p class="cartype">{{car.body_style}}</p></div>
                        <div class="pull-right"><p class="price">₨ {{car.price | intcomma}}</p></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
